::selection {
  background: #004080;
  color: #ffffff;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #0f0d11;
  padding: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabeçalho */
header {
  background: #004080;
  color: rgb(243, 243, 243);
  float: inline-start;
  width: 100%;
}

header h1 {
  margin: 10;
}


#trHeader {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
}

#tabelaHeader {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  display: block;

}

#cargoTXT {
  position: relative;
  text-align: center;
  align-content: center;
  color: #ccc;

}

#sectionEsquerda {
  padding: 20px;
  box-sizing: border-box;
  float: left;
  width: 30%;
  height: 120vh;
  background: #f0f0f0;
}

#mainDireita {
  padding: 20px;
  box-sizing: border-box;
  float: right;
  width: 70%;
  height: 120vh;
  background: rgb(228, 228, 228);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

#NAVlink {
  text-align: center;
  left: 50%;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 2px solid #004080;
  height: 47px;
}


#NAVlink ul li a {
  color: rgb(57, 57, 57);
  font-size: 150%;

}

#NAVlink ul li a:hover {
  color: rgb(38, 107, 164);
  border: rgba(38, 107, 164, 0.2) 2px dashed;
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;

}

nav a {
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
}




section {
  color: #000000;
}

h2 {
  color: #02182e;
  margin-bottom: 10px;
  border-bottom: 2px solid #004080;
  padding-bottom: 5px;
}

p,
li {
  margin-bottom: 8px;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 15px;
  background: #004080;
  color: white;
  font-size: 14px;
  float: inline-end;
  width: 100vw;
  height: 10vh;
  bottom: 0;
}


table {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  display: block;
}


#imgDavi {
  width: 11vw;
  border-radius: 50%;
}


table h1 {
  font-size: 5vw;
  font-weight: 50;
  font-family: monospace;
  margin: 2px;
  text-align: center;
}

td {
  padding: 10px;
}

/* Formulário */
form {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

fieldset {
  margin-bottom: 15px;
  border: 1px solid #e23f3f;
  padding: 15px;
  border-radius: 8px;
}

legend {
  font-weight: bold;
  color: #004080;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #004080;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0066cc;
}